:root {
    --primary-color: #7d2ae8;
    --secondary-color: #999;
    --text-color: #555;
    --on-primary-color: white;
    --selection-bg-color: #e9d3fb;
    --code-font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 2;
    color: var(--text-color);
}

h2 {
    margin-bottom: 0;
}

a {
    color: var(--primary-color);
}

::selection {
    color: var(--primary-color);
    background-color: var(--selection-bg-color);
}

main article header {
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    background-color: black;
}

@media screen and (min-width: 750px) {
    nav {
        max-width: 750px;
    }
    main {
        max-width: 750px;
    }
}

nav > * {
    display: inline-block;
    padding: 10px 16px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
}

nav > div {
    flex-grow: 1;
}

/*nav a:visited {*/
/*    color: white;*/
/*}*/

nav a {
    color: white;
}

nav a:hover, .nav-a-current {
    background-color: var(--primary-color);
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px 0;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-meta {
    color: var(--secondary-color);
    font-size: 0.75em;
    margin: 4px 0 4px 0;
    text-align: center;
}

.post-meta-item {

}

.post-meta .post-meta-item + .post-meta-item::before {
    content: '|';
    margin: 0 0.5em;
}

.post-body {
    text-align: justify;
    word-wrap: break-word;
}

/*div {
    display: flex;
    align-items: center;
}*/

.a {
    width: 25%;
    float: left;
    border: 1px solid red;
    cursor: pointer;
}

.b {
    width: 75%;
    float: left;
    border: 1px solid red;
}

body footer {
    text-align: center;
    font-size: 0.875em;
    color: var(--secondary-color);
    gap: 10px;
    padding-bottom: 16px;
    line-height: 2;
}

.with-love {
    color: var(--primary-color);
    margin-left: 5px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.post-tags {
    text-align: center;
}

.post-tags a {
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
}

.post-tags a:not(:last-child) {
    margin-right: 10px;
}

hr {
    margin-top: 25px;
    margin-bottom: 10px;
}

pre, code {
    font-family: var(--code-font-family);
}

pre {
    padding: 10px;
    /*TODO: var*/
    background-color: #f6f8fa!important;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p code,
li code {
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0 0.25rem;
    background: #f6f8fa!important;
    border-radius: 3px;
    line-height: 1.2;
    margin-bottom: 5px;
    white-space: nowrap;
}

/* Line numbers */
code {
    counter-reset: step;
    counter-increment: step 0;
}

code .line::before {
    font-family: var(--code-font-family);
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115,138,148,.5)
}

code .line:only-child::before {
    content: none;
}

/* end line numbers */
